{% extends "mysite/layout.html" %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <p style="color: red;">{{error_message}}</p>
    <div style="max-width: 300px; display: flex; flex-direction: column; gap: 10px;">

        <div style="display: flex; flex-direction: column;">
            <label>Username</label>
            <input name="username" />
        </div>

        <div style="display: flex; flex-direction: column;">
            <label>Password</label>
            <input name="password" type="password" />
        </div>

        <button type="submit" style="width: 100%;">Login</button>
      
        <a href="/register/" style="text-decoration: none; display: block; width: 100%;">
            <button type="button" style="width: 100%;">Create User</button>
        </a>
      
    </div>
</form>
{% endblock %}