{% extends "mysite/layout.html" %}

{% block content %}
<h2>Create User</h2>
<form method="post">
    <!-- FLAW 4: Cross-Site Request Forgery (CSRF) -->
    <!-- FLAW 4 FIX -->
    <!-- {% csrf_token %} -->
    <p style="color: red;">{{error_message}}</p>
    <div style="max-width: 300px; display: flex; flex-direction: column; gap: 10px;">

        <div style="display: flex; flex-direction: column;">
            <label>Username</label>
            <input name="username" />
        </div>

        <div style="display: flex; flex-direction: column;">
            <label>Password</label>
            <input name="password" type="password" />
        </div>

        <div style="display: flex; flex-direction: column;">
            <label>Confirm Password</label>
            <input name="confirm-password" type="password" />
        </div>

        <button type="submit">Create</button>

        <a href="/login/" style="text-decoration: none; display: block; width: 100%;">
            <button type="button" style="width: 100%;">Go Back</button>
        </a>
    </div>
</form>
{% endblock %}